<br />
<div class="container-fluid border p-3">
    <div class="row">
        <a style="width: 8%; float: right;margin-right: 10px; margin-bottom: 30px;" class="btn btn-success text-white"  asp-controller="School" asp-action="Registration"><i class="fa fa-plus"></i> Add New</a>
    </div>
    <div class="row">
        <table id="DT_load" class="table table-light table-striped table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>School Name</th>
                    <th>Country</th>
                    <th>Address</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Reported By</th>
                    <th> </th>
                </tr>
            </thead>

        </table>
    </div>
    
</div>